#!/usr/bin/env sh
#{{ ansible_managed }}

{% macro _apply_hook(hook_type, hook, domain_name) -%}
  {% if hook is mapping %}
    {# Команда передаётся напрямую #}
    {% if hook.type == 'command' %}--{{ hook_type }}-hook "{{ hook.value | replace('\"', '\\"') }}" \
    {# Скрипт был обработан ранее #}
    {% else %}--{{ hook_type }}-hook {{ certbot_hooks_home }}/{{ domain_name }}--{{ hook_type }}.sh \
    {% endif %}
  {% endif %}
{%- endmacro %}

{% for certbot_domain in certbot_domains %}
# update certificate for {{ '*.' if certbot_domain.get('wildcard') else '' }}{{ certbot_domain.name }}
{{ certbot_virtualenv_home }}/bin/certbot renew \
  --work-dir {{ certbot_work_home }} \
  --logs-dir {{ certbot_logs_home }} \
  --config-dir {{ certbot_config_home }} \
  --preferred-challenges {{ certbot_domain.preferred_challenges | default(certbot_defaults_preferred_challenges) }} \
  --server {{ certbot_domain.server | default(certbot_defaults_server) }} \
  --register-unsafely-without-email \
  --agree-tos \
  --manual-public-ip-logging-ok \
  --noninteractive \
  {{ _apply_hook('pre', certbot_domain.renew_hook_pre, certbot_domain.name) -}}
  {{ _apply_hook('post', certbot_domain.renew_hook_post, certbot_domain.name) -}}
  {{ _apply_hook('deploy', certbot_domain.renew_hook_deploy, certbot_domain.name) -}}
  {# для certbot неважно был ли домен с wildcard или нет, он требует только
  имя домена в параметр --cert-name #}
  --cert-name {{ certbot_domain.name }} \
  {{ certbot_domain.options | default([], true) | join(' ') }}

{% endfor %}
